### Q2 ------- LOGISTIC REGRESSION ------

#### Output variable -> y
#### y -> Whether the client has subscribed a term deposit or not 

Binomial ("yes" or "no")

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
from sklearn.linear_model import LogisticRegression
# train and test 
#from sklearn.cross_validation import train_test_split 
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import preprocessing
from sklearn.metrics import classification_report

In [4]:
B = pd.read_csv("bank-full.csv" , sep = ';')
#print(B)
B.head(50)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
26,39,management,single,tertiary,no,255,yes,no,unknown,5,may,296,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,no
30,57,technician,married,secondary,no,839,no,yes,unknown,5,may,225,1,-1,0,unknown,no
31,49,management,married,tertiary,no,378,yes,no,unknown,5,may,230,1,-1,0,unknown,no
32,60,admin.,married,secondary,no,39,yes,yes,unknown,5,may,208,1,-1,0,unknown,no
33,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
34,51,management,married,tertiary,no,10635,yes,no,unknown,5,may,336,1,-1,0,unknown,no
35,57,technician,divorced,secondary,no,63,yes,no,unknown,5,may,242,1,-1,0,unknown,no
36,25,blue-collar,married,secondary,no,-7,yes,no,unknown,5,may,365,1,-1,0,unknown,no
37,53,technician,married,secondary,no,-3,no,no,unknown,5,may,1666,1,-1,0,unknown,no
38,36,admin.,divorced,secondary,no,506,yes,no,unknown,5,may,577,1,-1,0,unknown,no
39,37,admin.,single,secondary,no,0,yes,no,unknown,5,may,137,1,-1,0,unknown,no
40,44,services,divorced,secondary,no,2586,yes,no,unknown,5,may,160,1,-1,0,unknown,no
41,50,management,married,secondary,no,49,yes,no,unknown,5,may,180,2,-1,0,unknown,no
42,60,blue-collar,married,unknown,no,104,yes,no,unknown,5,may,22,1,-1,0,unknown,no
43,54,retired,married,secondary,no,529,yes,no,unknown,5,may,1492,1,-1,0,unknown,no
44,58,retired,married,unknown,no,96,yes,no,unknown,5,may,616,1,-1,0,unknown,no
45,36,admin.,single,primary,no,-171,yes,no,unknown,5,may,242,1,-1,0,unknown,no
46,58,self-employed,married,tertiary,no,-364,yes,no,unknown,5,may,355,1,-1,0,unknown,no
47,44,technician,married,secondary,no,0,yes,no,unknown,5,may,225,2,-1,0,unknown,no
48,55,technician,divorced,secondary,no,0,no,no,unknown,5,may,160,1,-1,0,unknown,no
49,29,management,single,tertiary,no,0,yes,no,unknown,5,may,363,1,-1,0,unknown,no

In [4]:
B.shape

(45211, 17)

In [5]:
B.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [ ]:
# find All the diff values of each categorical data column
# syntax : df['column name'].unique()
B['job'].unique()

In [ ]:
B['marital'].unique()

In [ ]:
B['education'].unique()

In [ ]:
B['default'].unique()

In [ ]:
B['housing'].unique()

In [ ]:
B['loan'].unique()

In [ ]:
B['contact'].unique()

In [ ]:
B['month'].unique()

In [ ]:
B['poutcome'].unique()

In [ ]:
B['y'].unique()

In [ ]:
# converting categorical data inti numeric
#1st we convert yes no into 0&1 i.e default, housing & y column
B['default']=B['default'].apply(lambda x:0 if x=='no' else 1)
B['housing']=B['housing'].apply(lambda x:0 if x=='no' else 1)
B['loan']=B['loan'].apply(lambda x:0 if x=='no' else 1)
B['y']=B['y'].apply(lambda x:0 if x=='no' else 1)

In [ ]:
B.head(10)

In [ ]:
B.dtypes

In [ ]:
# now we convert multipul categorical cvalues columns i.e job marital education contact poutcome
def month_converter(mnth):
    months = ['jan', 'feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']
    return months.index(mnth)+1
    
B['month']=B['month'].apply(lambda x:month_converter(x))

In [ ]:
B.head(10)

In [ ]:
def job_converter(j):
    job_column = ['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student']
    return job_column.index(j)
    
B['job']=B['job'].apply(lambda x:job_converter(x))

In [ ]:
B.head(10)

In [ ]:
B.dtypes

In [ ]:
def mrg_converter(m):
    mritl_column = ['divorced', 'single', 'married']
    return mritl_column.index(m)
    
B['marital']=B['marital'].apply(lambda x:mrg_converter(x))

In [ ]:
B.head(10)

In [ ]:
def edu_converter(E):
    edu_column = ['unknown','primary','secondary','tertiary']
    return edu_column.index(E)
    
B['education']=B['education'].apply(lambda x:edu_converter(x))

In [ ]:
B.head(10)

In [ ]:
def con_converter(c):
    cont_column = ['unknown', 'cellular', 'telephone']
    return cont_column.index(c)
    
B['contact']=B['contact'].apply(lambda x:con_converter(x))

In [ ]:
B.head(10)

In [ ]:
def pout_converter(c):
    pout_column = ['failure','success','other','unknown']
    return pout_column.index(c)
    
B['poutcome']=B['poutcome'].apply(lambda x:pout_converter(x))

In [ ]:
B.head(10)

In [ ]:
B.head(10)

In [ ]:
B.dtypes
# Now all the values converted into int i.e numerical data

In [ ]:
# Model building 
from sklearn.linear_model import LogisticRegression

B.shape
X = B.iloc[:,:16]
Y = B.iloc[:,16:17]
classifier = LogisticRegression()
classifier.fit(X,Y)

#classifier.coef_ # coefficients of features (B0,B1)
#classifier.predict_proba (X) # Probability values

In [ ]:
y_pred = classifier.predict(X)
B.insert(loc=0, column='Pred', value=y_pred)

In [ ]:
B.Pred.head(10)

In [ ]:
y_prob = pd.DataFrame(classifier.predict_proba(X.iloc[:,:]))
new_df = pd.concat([B,y_prob],axis=1)
B.head(10)

In [ ]:
print(y_prob)  # probability of predicted y values

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(Y,y_pred)
print (confusion_matrix)
#type(y_pred)

In [ ]:
B.shape[0]

In [ ]:
# Accuracy = total no of correctly predicted cases/total no of observations = TP+TN/TP+TN+FP+FN
accuracy = sum(Y==y_pred)/B.shape[0]
#accuracy

In [ ]:
# Accuracy
accuracy = (39167+1120)/(45211) # 89.10
accuracy

In [ ]:
# ROC curve 
from sklearn import metrics
# fpr => false positive rate
# tpr => true positive rate
fpr, tpr, threshold = metrics.roc_curve(B.y, y_pred)


# the above function is applicable for binary classification class 

plt.plot(fpr,tpr);plt.xlabel("False Positive");plt.ylabel("True Positive")
 
roc_auc = metrics.auc(fpr, tpr) # area under ROC curve